{
     "extends": ["plugin:@hapi/recommended", "plugin:prettier/recommended"],
     "plugins": ["prettier"],

     "rules": {
          "prettier/prettier": "error"
     },
     "capitalize-modules": ["warn", "global-scope-only"],
     "experimentalDecorators": true,
     "quote-props": "consistent"
}
